:root {
  --title: "Gentium Book Plus", serif;
  --text: "Oxygen", serif;
  --bold: 600;
  --lightPurple:#8349a9;
  --purple: #65268F;
  --lilac: #c196de;
  --darkPurple: #4b1271;
  --black: #0e0220;
  --radius: 1.25rem;
  --boxShadow: -1px 15px 30px -12px #4b1271 ;
  --border: solid 2px #65268F;
  --backgroundColour: #ebebf0;
}

body {
  font-family: var(--text);
  overflow-x: hidden;
  margin: 0 auto;
  background-color: var(--backgroundColour);
  max-width: 85rem;
}

h1 {
  font-family: var(--title);
}

main {
  position: relative;
  z-index: 1; 
}

section {
  z-index: 1; 
  padding: 2rem; 
}

h2 {
  font-family: var(--title);
  font-size: 2rem;
}

/* background-back */
.background-animation {
  position: absolute; 
  width: 100%;
  height: 100%;
  overflow: hidden; 
  z-index: -2; 
}

.ball {
  position: absolute; 
  border-radius: 100%; 
  opacity: 0.7; 
}

.emoji {
  font-size: 4rem;
  color: var(--lightPurple);
}


/* Container layout */
.portfolio-container {
  display: flex;
  padding: 1rem;
  height: 100vh;
  border: var(--border);
}

/* Left Side: List */
.portfolio-list {
  padding-left: 0;
  width: 30%;
  list-style: none;
  margin: 0;
}

.portfolio-list-item {
  margin-bottom: 2rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--darkPurple);
  transition: all 0.3s ease;
}

.portfolio-list-item.active {
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--darkPurple);
}

.portfolio-details {
  width: 80%;
  text-align: center;
}

.portfolio-image {
  width: 80%;
  height: auto;
  border: var(--border);
  border-radius: var(--radius);
  box-shadow: var(--boxShadow);
}

.portfolio-title {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #333;
}

.portfolio-description {
  font-size: 1rem;
  color: #666;
}



/* Media Query for Mobile */
@media (max-width: 480px) {

  .ball{
    opacity: 0.3;
  }

}


/* Media Query for tablet */
@media (max-width: 768px) {

  .ball{
    opacity: 0.5;
  }


}